[Unit]
Description=2ip-speed
After=network.target 2ip-speed.socket
Requires=2ip-speed.socket

[Service]
NonBlocking=true
ExecStart=/usr/local/bin/speedtest --systemd=true --log=false --domain=$CURRENT_HOSTNAME --port=$PORT
ExecReload=/bin/kill -HUP $MAINPID
LimitNOFILE=8192

[Install]
WantedBy=multi-user.target