[Unit]
Requires=2ip-speed.socket
Description=2ip speed
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/speedtest --log=false --domain={{ node_host }}
ExecReload=/bin/kill -HUP $MAINPID
User=nobody
Restart=always
RestartSec=3
LimitNOFILE=8192

[Install]
WantedBy=multi-user.target